<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="proj.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>  
    <style>@import url('https://fonts.googleapis.com/css2?family=Genos:wght@100&family=Turret+Road&family=Yuji+Boku&display=swap');</style>
</head>

<body>
    <div class="a">
        <div class="contain">
            <div class="menu">
                <div class="l" id="l1"><span class="txt"><a href="/index">Home</a></span></div>
                <div class="l" id="l2"><span class="txt"><a href="/projects">Projects</a></span></div>
                <div class="l" id="l3"><span class="txt"><a href="/contact">Contact Us</a></span></div>
                <div class="l" id="l4"><span class="txt"><a href="/logout">Log Out</a></span></div>
            </div>
            <!-- <div id="m">&apid;</div> -->
            <div id="m"><svg id="s1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
              </svg></div>
        </div>
    </div>
    <h1>Projects</h1>
    <div class="b">
        <div class="boxes">
            <div class="box"><div class="bxa" id="box1"><img src="./pro1.png" alt=""></div><div class="over">Name: TO-DO <br> By: Shashwat Harsh <br> Tech. : HTML, CSS, Js  <br> About: A simple todo list developed using Vue.js <br> <a href="https://github.com/shashwatharsh/vjs-todo-list"> <span> Source Code </span></a></div></div>
            <div class="box"><div class="bxa" id="box2"><img src="./pro2.jpeg" alt=""></div><div class="over">Name: Tic-Tak-Toe <br> By: Shashwat Harsh <br> Tech. : Java <br> About: A 'Tic TaK Toe'  game developed using Android Studio <br> <a href="https://github.com/shashwatharsh/Tik_Tak_Toe"> <span> Source Code </span></a></div></div>
            <div class="box"><div class="bxa" id="box3"><img src="./pro3.jpeg" alt=""></div><div class="over">Name: Sys-ERP <br> By: Sumit Sayrav & Shashwat Harsh <br> Tech. : Java <br> About: An ERP system developed using Android Studio and Firebase <br> <a href=""> <span> Source Code </span></a></div></div>
            <div class="box"><div class="bxa" id="box4"><img src="./pro4.png" alt=""></div><div class="over">Name: Movie Seat Booking <br> By: Brad Traversy <br> Tech. : HTML, CSS, Js <br> About: An interactive seating-system developed using Vanila Js <br> <a href="https://github.com/bradtraversy/vanillawebprojects/tree/master/movie-seat-booking"> <span> Source Code </span></a></div></div>
            <div class="box"><div class="bxa" id="box5"><img src="./pro5.png" alt=""></div><div class="over">Name: Music Player <br> By: Brad Traversy <br> Tech. : HTML, CSS, Js <br> About: An audio palyer developed using Vanila Js <br> <a href="https://github.com/bradtraversy/vanillawebprojects/tree/master/music-player"> <span> Source Code </span></a></div></div>
            <div class="box"><div class="bxa" id="box6"><img src="./pro6.png" alt=""></div><div class="over">Name: Landing Page Animation <br> By: Vaibhav Khulbe <br> Tech. : HTML & CSS <br> About: A landing page developed using CSS Animation <br> <a href="https://github.com/Kvaibhav01/Landing-Page-Animation"> <span> Source Code </span></a></div></div>
            <div class="box"><div class="bxa" id="box7"><img src="./pro7.png" alt=""></div><div class="over">Name: Covid Relief <br> By: Rahul <br> Tech. : HTML & Js <br> About: A covid releif website developed using Js and various API <br> <a href="https://github.com/rahul7400/CovidReliefWebsite"> <span> Source Code </span></a></div></div>
            <div class="box"><div class="bxa" id="box8"><img src="./pro8.png" alt=""></div><div class="over">Name: Contact Template <br> By: Kumar Sutikshan <br> Tech. : HTML, CSS, Js <br> About: A contact us template  developed using HTML, CSS & JS <br> <a href="https://github.com/BeyondSpace1/Contact_template"> <span> Source Code </span></a></div></div>
            <div class="box"><div class="bxa" id="box9"><img src="./pro9.jpeg" alt=""></div><div class="over">Name: Safe-Pass <br> By: Himanshu Gupta <br> Tech. : Python, Tkinter, MongoDB <br> About: An open-source password manager developed using Python <br> <a href="https://github.com/zexceed012/Password_manager"> <span> Source Code </span></a></div></div>
            <div class="box"><div class="bx" id="box10"><img src="./project.png" alt=""></div><div class="over">More Projects are on the way... </div></div>
            <div class="box"><div class="bx" id="box11"><img src="./project.png" alt=""></div><div class="over">More Projects are on the way... </div></div>
            <div class="box"><div class="bx" id="box12"><img src="./project.png" alt=""></div><div class="over">More Projects are on the way... </div></div>
        </div>
    </div>
    <!-- <footer class="f1">&copy; All rights reserved</footer> -->
    <div class="no_sup">Your device is not suitable for this application</div>
</body>
<!-- <script src="proj.js"></script> -->
<script>
    let box=document.querySelectorAll('.box');
    let btn1=document.querySelector('#m');
    let m1=document.querySelector('.menu');
    let s1=document.querySelector('#s1');
    let b=document.querySelector('.b');
    let bd=document.body;

    btn1.addEventListener('click',()=>{
        m1.classList.toggle('c');
        s1.classList.toggle('o');
        bd.classList.toggle('y');
        b.classList.toggle('nomove');
    }); 

    $(window).on('load', function () {  
       $(".container").fadeOut("slow"); 
    });
</script>

</html>